<% hit,miss,pct = @proxy.cache.stats %>

<div class="navbar-fixed">
  <nav class=" blue lighten-3">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down" style="padding-left: 15px;">
        <li>Started:  <%= RelativeTime.in_words(@proxy.start_time,Time.now) %></li>
      </ul>

      <a href="#" class="brand-logo center">Gunbot Proxy</a>
      <ul class="right hide-on-med-and-down" style="padding-right: 15px;">
        <li><%= '%.5f' % @proxy.data.cache_efficiency %>% Efficiency</li>
      </ul>
    </div>
  </nav>
</div>


<div class="row">
  <div class="col s10">
    <% if @proxy.config.web_progress_bar_interval && @proxy.config.web_progress_bar_interval > 0 %>
      <%  
        period = @proxy.config.web_progress_bar_interval
        st = Time.now.to_i / period * period
        pct = ((Time.now.to_f - st) / period * 100).to_i
      %>

      <div class="progress" style="background-color: transparent;">
        <div class="determinate brown lighten-2" style="width: <%= pct %>%"></div>
      </div>
    <% end %>
    <%= partial('pairs') %>
    <%= partial('balances') %>
    <%= partial('orders') %>
    <%= partial('history') %>
  </div>
  <div class="col s2">
    <%= partial('market') %>
    <%= partial('btc_balance') %>
    <%= partial('recent') %>
    <%= partial('proxy_stats') %>
  </div>
</div>


